updates_to_gitlab.dotx
updates_to_gitlab.odt
explanatios_for_script_exclusion.txt
alignments/tmp/
sources/backup
tabular/tmp
tmp_data/
trees/tmp/
developingGlue.dotx
explanatios_for_script_exclusion.txt
text.txt
